<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubajin.mybatis.dao.DepartmentMapper">  
	<select id="getDeptById" resultType="com.yubajin.mybatis.bean.Department">
		select id,dept_name departmentName from tb1_dept where id=#{id}
	</select>
</mapper>
